<div class="banner center">
  <h2>Happy Birthday Lauren!</h2>
  <p>--Joseph</p>
</div>

<div>
  <div class=" center">
 <img src="https://rnacorp.files.wordpress.com/2012/03/birthday_cakes_01.gif"/>
 <div>
 
 <!-- <h3>About</h3>
  <p>This application was deployed using a Heroku Button.  It lives on the web now, at this URL, and is accessible to the public.</p> -->

  <h2> Lauren, Click one of the iteams below in the table <br />Only one of them is your birthday gift others are bombs! :)</h2>

  <table border="1">
    <tr>
      <th><a href="http://www.happybirthday-cards.com/wp-content/uploads/2014/10/birthday-gifts-for-girlfriend-3.jpg">Guess1</a></th>
      <th><a href="http://i01.i.aliimg.com/wsphoto/v0/934645155/Day-gift-girlfriend-gifts-romantic-birthday-gift-lovers-gift-colorful-crystal-rose.jpg">Guess2</a></th>
      <th><a href="http://www.getpictures.info/wp-content/uploads/2014/12/homemade-valentine's-day-gifts-for-girlfriend.jpg">Guess3</a></th>
    </tr>
    <tr>
      <th><a href="http://flappyimages.com/wp-content/uploads/2014/08/13932teddy_bear.jpg">Guess4</a></th>
      <th><a href="http://www.dhresource.com/albu_375497996_00-1.0x0/ring-women-birthday-girlfriend-gifts-sweet.jpg">Guess5</a></th>
      <th><a href="http://image.dhgate.com/albu_242692782_00/1.0x0.jpg">Guess6</a></th>
    </tr>
    <tr>
      <th><a href="http://i01.i.aliimg.com/wsphoto/v0/1925998261_1/Ring-for-women-925-silver-ring-for-birthday-gift-engagement-ring-for-you-girlfriend-Birthstone-for.jpg">Guess7</a></th>
      <th><a href="http://www.happybirthday-cards.com/wp-content/uploads/2014/10/birthday-gifts-for-girlfriend.jpg">Guess8</a></th>
      <th><a href="http://www.image4world.com/vb/imgcache/2/8133poster.jpg">Guess9</a></th>
    </tr>
  </table>
  
  

  <form>
    <input type="button" value= "Don't touch me!" onMouseOver="alert('Happy Birthday Lauren!!');"/>
  </form>
  
  <div class= "fun()">
  <form>
    <input type="button" value= "touch me!" onclick="fun()"/>
  </form>
 </div>
  
 <!-- 
  <p>After reading to the appropriate step in the tutorial, <a href="http://www.happybirthday-cards.com/wp-content/uploads/2014/10/birthday-gifts-for-girlfriend.jpg">connect this app to your Salesforce Org</a>.</p>

 <a href="/create" class="btn">Connect to Salesforce</a> -->

  <!--<h3>References</h3>

  <ul>
    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev#introduction">Getting Started on Heroku with Heroku Connect</a> will show you how to manage, deploy and modify this app</li>
    <li>The <a href="https://devcenter.heroku.com/">Heroku Dev Center</a> contains documentation and tutorials on using Heroku</li>
  </ul>  -->



