<div class="banner center">
  <h2>Happy Birthday Lauren!</h2>
</div>

<div>

 <!-- <h3>About</h3>
  <p>This application was deployed using a Heroku Button.  It lives on the web now, at this URL, and is accessible to the public.</p> -->

  <p><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev#introduction"><strong>Lauren, Click here!</strong></a> article, or the Heroku Button in its <a href="https://github.com/heroku/no-local-dev-getting-started">source code repository</a>.</p>

  <img src="https://rnacorp.files.wordpress.com/2012/03/birthday_cakes_01.gif"/>

  <p>After reading to the appropriate step in the tutorial, <a href="/create">connect this app to your Salesforce Org</a>.</p>

  <!-- <a href="/create" class="btn">Connect to Salesforce</a> -->

  <h3>References</h3>

  <ul>
    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev#introduction">Getting Started on Heroku with Heroku Connect</a> will show you how to manage, deploy and modify this app</li>
    <li>The <a href="https://devcenter.heroku.com/">Heroku Dev Center</a> contains documentation and tutorials on using Heroku</li>
  </ul>
</div>



